<div class="row">

    <div class="col-md-4">

        <h3 class="mb-5">Seleccione archivos</h3>
        <div class="well drop.zone file-over">
            <h4 class="m-2">Arrastre los archivos aquí</h4>
            <img class="m-4" src="assets/drop-images.png">
        </div>

    </div>

    <div class="col-md-8">


        <h4 class="mb-5">Cargar archivos</h4>
        
        <button (click)="cargarImagenes()" [disabled]="archivos.length === 0" class="btn ngreen">Cargar a Firebase</button>
        <button class="btn m-2 nskyblue">Limpiar</button>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre Archivo</th>
                    <th>Tamaño</th>
                    <th>Progreso</th>
                </tr>

            </thead>
            <tbody class="thead-dark">
                <tr>
                    <th>XYZ</th>
                    <th>12 MB</th>
                    <th>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 25%" ></div>
                        </div>
                    </th>
                </tr>

            </tbody>
        </table>
    </div>


</div>