.main-container{
  margin-top: 40px;
}

/* Drop Zone */
.drop-zone { 
	border: dotted 3px lightgray; 
	opacity: 0.5; 
	color: rgb(139, 139, 139); 
	text-align: center 
}

.file-over { 
	border: dotted 3px rgb(55, 58, 61); 
}

.table { 
	margin-top: 30px; 
}

.text-green { 
	color: green 
}

.ngreen {
	background-color :rgb(112, 26, 170);
	color: rgb(255, 255, 255);
}

.nskyblue {
	background-color: rgb(52, 155, 224);
	color: rgb(255, 255, 255);
}
